body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}
.calculator{
    height:700px ;
    width: 600px;
    background-color: rgba(43, 36, 36, 0.925);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.container{
    background-color: black;
    height: 670px;
    width: 570px;
    display: flex;
    flex-direction: column;
}
.display{
background-color: rgba(214, 206, 206, 0.979);
height: 120px;
margin: 8px 2px;
font-size: 90px;
padding:12px;
padding-bottom: 0px;
display: flex;
overflow: hidden;
justify-content: end;

}
.buttons{
    display:flex;
    height: 534px;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 2px;
}
.butt{
    width:140px;
    border-radius: 5px;
    font-size: 25px;
}
.butt:hover{
    background-color: rgb(223, 219, 219);
}
#zero{
    width: 283px;
}

